.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    min-width: 350px;
    text-align: center;
}

.trending {
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    width: fit-content;
    font-size: small;
    padding: 4px 15px;
}

button {
    cursor: pointer;
    background: white;
}

button:hover {
    border: 1px solid #2196f3;
    color: #2196f3;
} 
button:hover > * {
    color: #2196f3;
}

i {
    color: inherit;
    padding-right: 6px;
}
